body {
  background-color: black;
  color: blueviolet;
}

#heading:hover {
  background: hsl(35, 97%, 46%);
  background: linear-gradient(
    90deg,
    hsl(249, 100%, 30%) 0%,
    #ea0459 27%,
    rgba(253, 29, 29, 1) 50%,
    hwb(352 25% 37%) 68%,
    rgba(252, 176, 69, 1) 100%
  );
  background-clip: text;
  color: transparent;
}
fieldset {
  width: 500px;
  border: 5px solid orangered;
  border-radius: 20px;
}
input:required {
  border: 2px solid #ff002b;
}
input:optional {
  border: 3px dashed green;
}
input[type="radio"]:checked {
  height: 20px;
  width: 30px;
  cursor: pointer;
}
input[type="radio"]:checked + label {
  color: crimson;
  cursor: pointer;
}
input[type="submit"] {
  border: 3px solid hwb(329 0% 0%);
  border-radius: 10px;
}
select {
  background-color: brown;
  border-radius: 10px;
  cursor: pointer;
}
input:focus {
  background-color: #ff002b;
}
input[type="text"] + p {
  display: none;
}
input[type="text"]:hover + p {
  display: inline;
}
img {
  display: none;
}
input[type="email"]:focus:valid ~ img#valid {
  display: inline;
  height: 30px;
  width: 30px;
}
input[type="email"]:focus:invalid ~ img#invalid {
  display: inline;
  height: 30px;
  width: 30px;
}
fieldset:hover {
  box-shadow: 0px 30px 100px #ff5601;
}
